# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.tmp

# Coverage data
lib-cov
coverage
.nyc_output

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Dummy files for local testing
dummy.*
_tmp/

# Editors, IDE & stuff inbetween
.c9
.codio
.vscode
